<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tiendazavaletaapp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.MenuActivity"/>
        <activity android:name=".pedidos.PedidosActivity"/>
        <activity android:name=".ProductosListaAdmin.ProductosListaAdminActivity"/>
        <activity android:name=".Perfil.CambiarContraPerfilActivity"/>
        <activity android:name=".menuTop.MenuTopActivity"/>
        <activity android:name=".detallePedidoPce.DetallePedidoPceActivity"/>
        <activity android:name=".detallePedidoRt.DetallePedidoRtActivitty"/>
        <activity android:name=".createProductos.CreateProductosActivity"/>
        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".recuperarContrasenia.RecuperarContraseniaActivity"/>
        <activity android:name=".registrarUsuario.RegistrarUsuarioActivity"/>
        <activity android:name=".gestionAdmid.GestionAdminActivity"/>
        <activity android:name=".editProductos.EditProductosActivity"/>
        <activity android:name=".detallePedidoAdmid.DetallePedidoAdmidActivity"/>


    </application>

</manifest>